:root {
  --r_primary: #E82025;
  --r_second : white ; 
  --r_third : black; 
  --s_primary: #7C13FF;
  --s_second : #FFAF6E; 

  
}


* {
  margin: 0;
  padding: 0;


  font-family: "FrutigerNext", Helvetica, Arial, sans-serif !important
}

h3, h2, h1{
  background-color: var(--r_primary);
  color : var(--r_second);
  padding : 10px ;

  width : 100%;
  text-align: center;
}
.windows {
  height : 95%;
  width : 98%;
  margin : 2.5px ;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px 5px 10px rgba(0, 0, 0, 0.2);
}

.windows:hover {
  
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2), -5px 5px 20px rgba(0, 0, 0, 0.2);
}

.windows > div {
  padding : 10px;
}

.background {
  background-color: white;

}