:root {
  --r_primary: #E82025;
  --r_second : white ; 
  --r_third : black; 
  --s_primary: #7C13FF;
  --s_second : #FFAF6E; 
 

  --c1 : #d6383b; 
  --c2 : #e3bba3; 
  --c3 : #1a1542; 
  --c4 : #8d8aa1;
}


* {
  margin: 0;
  padding: 0;


  font-family: "FrutigerNext", Helvetica, Arial, sans-serif !important
}

h3, h2, h1{
  background-color: var(--r_primary);
  color : var(--r_second);
  padding : 10px ;
  border-radius: 4px;

  width : 100%;
  text-align: center;
}
.windows {
  height : 95%;
  width : 98%;
  margin : 2.5px ;
  border-radius: 4px;

  background-color: var(--c2);
}

.windows > div {
  padding : 10px;
}


.multiselect__option--selected.multiselect__option--highlighted {
  background-color: red !important;
  color: var(--r_second);
}
